#container {
    display: grid;
    grid-template-columns: 1fr 50px;
}

#toolbar {
    position: relative;
    grid-column: "2/3";
}

.tool {
    position: relative;
    width: 50px;
    height: 50px;
    border: 5px var(--bg-primary);
    border-radius: var(--border-rad);
    background: var(--bg-primary);
    user-select: none;
    margin: 5px;
}

.tool > input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    border-radius: var(--border-rad);
    opacity: 0;
}

#sheet {
    display: grid;
}

.node {
    border-radius: var(--border-rad);
    position: relative;
    background: var(--bg-primary);
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.node_ghost {
    border-radius: var(--border-rad);
    border: dashed 2px var(--bg-secondary);
    z-index: -100;
    position: absolute;
    top: -4px;
    left: -4px;
}

.node.locked > .header > .control {
    display: none;
}

.node.controls_inactive > .header > .control {
    display: none;
}

.node > .header {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 0;
    width: 100%;
}

.header > .title {
    color: var(--fg-secondary);
    text-align: left;
    padding: 5px;
    padding-bottom: 0px;
    font-weight: bolder;
    overflow: hidden;
    flex-grow: 1;
    white-space: nowrap;
    order: 0;
}

.header > .control {
    user-select: none;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 0px;
    padding-bottom: 0px;
    flex-grow: 0;
    margin-left: auto;
    order: 1;
}

.header > .handle {
    cursor: move;
    order: 2;
}

.node > .content {
    color: var(--fg-primary);
    margin: 5px;
    width: calc(100% - 10px);
    flex-grow: 1;
}

.node > .content.text {
    text-align: left;
    overflow: auto;
    font-size: 10pt;
    scrollbar-width: none;
}

.node > .content.number, .node > .content.die {
    text-align: center;
    overflow: hidden;
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.node > .content.list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
}

.node > .content.list > .list_item {
    background-color: var(--bg-secondary);
    min-height: 24px;
    margin-top: 5px;
    border-radius: var(--border-rad);
    display: flex;
    align-items: center;
}

.node > .content.list > .list_item > .list_item_content {
    margin: 5px;
    max-height: 90%;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
}

.node > .content.list > .list_item > .control {
    margin-left: auto;
    margin-right: 5px;
}

.node.controls_inactive > .content.list > .list_item > .control.toggle {
    display: none;
}

.node.locked > .content.list > .list_item > .control.toggle {
    display: none;
}

.node > .content.list:last-child {
    margin-bottom: auto;
}

.node > .content.list > .list_item > .checkbox {
    width: 20px;
    height: 20px;
    border-radius: var(--border-rad);
    margin-left: 5px;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
}

.node > .content.list:not(.checkboxes_active) > .list_item > .checkbox {
    display: none;
}

.node > .content.list > .list_item > .checkbox > .icon {
    margin: auto;
}

.node > .content.list > .list_item > .checkbox.checked > .icon {
    display: block;
}

.node > .content.list > .list_item > .checkbox:not(.checked) > .icon {
    display: none;
}

.resize_handle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--bg-secondary);
    position: absolute;
    z-index: 50;
}

.resize_handle.top {
    left: 50%;
    top: -20px;
    transform: translate(-50%, 0);
    cursor: n-resize;
}

.resize_handle.bottom {
    left: 50%;
    bottom: -20px;
    transform: translate(-50%, 0);
    cursor: n-resize;
}

.resize_handle.left {
    left: -20px;
    top: 50%;
    transform: translate(0, -50%);
    cursor: e-resize;
}

.resize_handle.right {
    right: -20px;
    top: 50%;
    transform: translate(0, -50%);
    cursor: e-resize;
}

.icon {
    width: 16px;
    height: 16px;    
}

.hidden {
    display: none;
}

.node > .settings {
    width: 200px;
    border-radius: var(--border-rad);
    position: absolute;
    background: var(--bg-secondary);
    right: -215px;
    top: 0px;
    z-index: 100;
    display: flex;
    padding: 5px;
    padding-top: 0px;
    flex-direction: column;
}

.node > .settings > .setting {
    background: var(--bg-primary);
    display: flex;
    margin-top: 5px;
    border-radius: var(--border-rad);
    position: relative;
    align-items: center;
}

.node:not(.list_content) > .settings > .setting.list_content {
    display: none;
}

.node:not(.die_content) > .settings > .setting.die_content {
    display: none;
}

.node > .settings > .setting > input, .node > .settings > .setting > select {
    flex-shrink: 1;
    min-width: 10px;
    border: none;
    height: 1.5em;
    border-radius: 3px;
    color: var(--fg-secondary);
    margin: 5px;
}

.node > .settings > .setting > .label {
    color: var(--fg-secondary);
    padding: 5px;
    white-space: nowrap;
}

.node > .menu {
    width: 100px;
    border-radius: var(--border-rad);
    position: absolute;
    background: var(--bg-secondary);
    right: -105px;
    top: 0px;
    z-index: 100;
}

.node > .menu > .menuitem {
    border-radius: var(--border-rad);
    background: var(--bg-primary);
    margin: 5px;
    display: grid;
    grid-template-columns: 26px 1fr;
    position: relative;
    font-size: 12px;
    color: var(--fg-secondary);
    user-select: none;
    text-align: left;
}

.menuitem > .icon {
    padding: 5px;
}

.menuitem > .label {
    padding: 5px;
}

.panel {
    background-color: var(--bg-primary);
    border-radius: var(--border-rad);
    z-index: 250;
}

.panel_header {
    display: flex;
    flex-direction: row;
}

.panel_header > .checkbox {
    flex-grow: 0;
}

.panel_header > input {
    flex-grow: 1;
}

.panel_header > .control {
    flex-grow: 0;
    margin-left: auto;
}

.panel_header > .control ~ .control {
    margin-left: 5px;
}

#fade.active {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary);
    opacity: 50%;
    z-index: 200;
}

:root {
    background: white;
    font-family: 'Open Sans';
    --bg-primary: lightgrey;
    --bg-secondary: darkgrey;
    --fg-primary: black;
    --fg-secondary: grey;
    --border-rad: 3px;
}

[contenteditable] {
    outline: 0px transparent;
}
