/* #mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}
*/ 

.sheet {
    display: grid;
    /* border: black 1px solid; */
}

.node {
    border-radius: 5px;
    position: relative;
    background: lightgrey;
    text-align: center;
}

.handle {
    position: absolute;
    cursor: move;
    top: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
}

.lock {
    position: absolute;
    cursor: pointer;
    bottom: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
}
