#container {
    display: grid;
    grid-template-columns: 1fr 50px;
}

#toolbar {
    position: relative;
    grid-column: "2/3";
}

.tool {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#sheet {
    display: grid;
    /* border: black 1px solid; */
}

.node {
    border-radius: 5px;
    position: relative;
    background: lightgrey;
    text-align: center;
}

.icon {
    position: absolute;
    width: 16px;
    height: 16px;    
}

.handle {
    cursor: move;
    top: 5px;
    right: 5px;
}

.lock {
    cursor: pointer;
    bottom: 5px;
    right: 5px;
}

.cog {
    cursor: pointer;
    top: 26px;
    right: 5px;
}

.hidden {
    display: none;
}
