.toolbar {
    align-items: center;
    background-color: var(--bg-secondary);
    border-bottom-left-radius: var(--border-rad);
    border-bottom-right-radius: var(--border-rad);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    position: relative;
    top: 0px;
    width: 40px;
}

.toolbar_toggle {
    cursor: pointer;
    margin-top: 5px;
    order: 0;
    transition: all 0.5s;
}

.toolbar.telescoped > .toolbar_toggle {
    transform: rotate(180deg);
}

.toolbar:not(.telescoped):not(.telescoping) > .tools > .tool {
    display: none;
}

.tools {
    order: 1;
    position: relative;
}

.toolbar.telescoping > .tools {
    overflow: hidden !important;
}

.toolbar.telescoped > .tools {
    overflow: visible;
}

#toolbox {
    display: flex;
    position: fixed;
    right: 20px;
    top: 0px;
}

.tool {
    background: var(--bg-primary);
    border: 5px var(--bg-primary);
    border-radius: var(--border-rad);
    cursor: pointer;
    flex-shrink: 0;
    height: 50px;
    margin-top: 10px;
    position: relative;
    width: 50px;
    user-select: none;
}

.sheet {
    display: grid;
    position: absolute;
    z-index: -1000;
}

.sheet.placing .node > .content {
    user-select: none;
}

.sheet.grouping .node {
    user-select: none;
    pointer-events: none;
    z-index: 0;
}

.sheet.grouping .node_group {
    z-index: 100;
    visibility: visible;
    cursor: pointer;
}

.node_group {
    background-color: var(--fg-secondary-transparent);
    visibility: hidden;
    z-index: -100;
}

.node {
    position: relative;
    background: var(--bg-primary);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    transition: all 0.2s;
    border-radius: var(--border-rad);
}

.node.resizing {
    z-index: 10;
}

.offset {
    top: -4px;
    left: -4px;
}

.node_ghost {
    border-radius: var(--border-rad);
    border: dashed 2px var(--bg-secondary);
    z-index: -100;
    position: absolute;
}

.node.locked > .header > .control {
    display: none;
}

.node.controls_inactive > .header > .control {
    display: none;
}

.node > .header {
    margin-top: 2px;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 0;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    top: 0;
    min-height: 20px;
}

.node > .header > .title {
    color: var(--fg-secondary);
    text-align: left;
    padding-left: 3px;
    padding-bottom: 0px;
    font-weight: bolder;
    flex-grow: 1;
    white-space: nowrap;
    order: 0;
    cursor: pointer;
    user-select: none;
    line-height: 20px;
    overflow-x: hidden;
    overflow-y: visible;
    top: 0;
}

.control {
    user-select: none;
    margin-right: 2px;
    flex-grow: 0;
    margin-left: auto;
    order: 1;
    width: 20px;
    height: 20px;
    border-radius: var(--border-rad);
}

.control {
    cursor: pointer;
}

.header > .handle {
    order: 2;
}

.handle {
    cursor: move;
}

.node > .content {
    color: var(--fg-primary);
    margin: 5px;
    margin-top: 2px;
    width: calc(100% - 10px);
    flex-grow: 1;
    overflow: hidden;
}

.node > .content.text {
    text-align: left;
    overflow: auto;
    font-size: 10pt;
    scrollbar-width: none;
}

.node > .content.number, .node > .content.die {
    text-align: center;
    overflow: hidden;
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.node > .content.list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
}

.node > .content.list > .list_item {
    background-color: var(--bg-secondary);
    height: 24px;
    min-height: 24px;
    margin-bottom: 5px;
    border-radius: var(--border-rad);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.node > .content.list > .list_item > .list_item_content {
    margin: 5px;
    max-height: 90%;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
}

.node > .content.list > .list_item.list_break {
    justify-content: center;
}

.node > .content.list > .list_item.list_break > .title {
    min-height: 1em;
    min-width: 20px;
    color: var(--fg-secondary);
    white-space: nowrap;
}

.node > .content.list > .list_item .control_box {
    display: none;
}

.node > .content.list > .list_item:hover .control_box {
    display: flex;
}

.list_item .control_box {
    display: flex;
    flex-direction: row;
    justify-content: right;
    justify-self: end;
}

.list_item .handle {
    cursor: ns-resize;
}

.node > .content.image_holder {
    overflow: hidden;
}

.node > .content.image_holder > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.node > .content.checkbox_holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.control_box > .control {
    margin-left: 0px;
}

.node.controls_inactive > .content.list > .list_item > .control.toggle {
    display: none;
}

.node.locked .toggle {
    display: none !important;
}

.checkbox {
    width: 20px;
    height: 20px;
    border-radius: var(--border-rad);
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.checkbox.inverted {
    background-color: var(--bg-secondary);
}

.content.list > .list_item > .checkbox {
    margin-left: 2px;
}

.node > .content.list:not(.checkboxes_active) > .list_item > .checkbox {
    display: none;
}

.checkbox > .icon {
    margin: auto;
}

.checkbox.checked > .icon {
    display: block;
}

.checkbox:not(.checked) > .icon {
    display: none;
}

.resize_handle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--bg-secondary);
    position: absolute;
    z-index: 50;
}

.resize_handle.top {
    left: 50%;
    top: -20px;
    transform: translate(-50%, 0);
    cursor: n-resize;
}

.resize_handle.bottom {
    left: 50%;
    bottom: -20px;
    transform: translate(-50%, 0);
    cursor: s-resize;
}

.resize_handle.left {
    left: -20px;
    top: 50%;
    transform: translate(0, -50%);
    cursor: w-resize;
}

.resize_handle.right {
    right: -20px;
    top: 50%;
    transform: translate(0, -50%);
    cursor: e-resize;
}

.icon {
    width: 16px;
    height: 16px;    
    padding: 2px;
}

.icon.background {
    border-radius: var(--border-rad);
    background-color: var(--bg-secondary);
}

.hidden {
    display: none;
}

.settings {
    width: 200px;
    border-radius: var(--border-rad);
    position: absolute;
    background: var(--bg-secondary);
    right: -215px;
    top: 0px;
    z-index: 100;
    display: flex;
    padding: 5px;
    padding-top: 0px;
    flex-direction: column;
    transition: all 0.1s;
}

.settings.left {
    left: -215px;
}

.settings > .setting {
    background: var(--bg-primary);
    display: flex;
    margin-top: 5px;
    border-radius: var(--border-rad);
    position: relative;
    align-items: center;
}

:not(.list_content) > .settings > .setting.list_content {
    display: none;
}

:not(.die_content) > .settings > .setting.die_content {
    display: none;
}

:not(.image_content) > .settings > .setting.image_content {
    display: none;
}

:not(.number_content) > .settings > .setting.number_content {
    display: none;
}

.image_content > .settings > .setting.font_content {
    display: none;
}

.number_content:not(.has_default) .control.number_reset {
    display: none;
}

.settings > .setting input, .settings > .setting select {
    flex-shrink: 1;
    min-width: 10px;
    border: none;
    height: 1.5em;
    border-radius: 3px;
    color: var(--fg-secondary);
    margin: 5px;
}

.settings > .setting .label {
    color: var(--fg-secondary);
    padding: 5px;
    white-space: nowrap;
}

.settings > .setting.list_setting {
    display: flex;
    flex-direction: column;
}

.settings > .setting.list_setting > .header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.settings > .setting.list_setting > .header > .label {
    padding: 4px;
}

.settings > .setting.list_setting > .header > .control {
    margin-right: 5px;
}

.settings > .setting.list_setting > .entry_list {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 0px;
}

.settings > .setting.list_setting > .entry_list > .list_item {
    width: 90%;
    height: 10px;
}

.menu {
    width: 100px;
    border-radius: var(--border-rad);
    position: absolute;
    background: var(--bg-secondary);
    right: -105px;
    top: 0px;
    z-index: 100;
    transition: all 0.1s;
}

.menu.left {
    left: -105px;
}

.menu > .menuitem {
    border-radius: var(--border-rad);
    background: var(--bg-primary);
    margin: 5px;
    display: flex;
    flex-direction: row;
    position: relative;
    font-size: 12px;
    color: var(--fg-secondary);
    user-select: none;
    text-align: left;
    align-items: center;
}

.menuitem > .icon {
    margin: 2px;
    flex-grow: 0;
}

.menuitem > .label {
    margin: 2px;
    flex-grow: 1;
}

.panel {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 30%;
    background-color: var(--bg-primary);
    border-radius: var(--border-rad);
    z-index: 250;
    width: 480px;
    padding: 10px;
    font-size: 14px;
}

.panel_header {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-secondary);
    border-radius: var(--border-rad);
    padding: 5px;
    align-items: center;
    margin-bottom: 5px;
}

.panel_header > .checkbox {
    flex-grow: 0;
}

.panel_header > input {
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: var(--border-rad);
    background-color: var(--bg-primary);
    height: 18px;
}

.panel_header > .title {
    color: var(--fg-primary);
    background-color: var(--bg-primary);
    border-radius: var(--border-rad);
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.panel_header :not(:first-child) {
    margin-left: 5px !important;
}

.panel .control {
    flex-grow: 0;
    margin-left: auto;
    background-color: var(--bg-primary);
}

.panel_header > .control ~ .control {
    margin-left: 5px;
}

.entry_list {
    padding: 5px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
    align-items: center;
}

.entry_list > .label {
    color: var(--fg-secondary);
    display: none;
    background-color: var(--bg-secondary);
    width: 100%;
    text-align: center;
    border-radius: var(--border-rad);
}

.entry_list > .label:only-child {
    display: block;
}

.entry_list > .list_item {
    background-color: var(--bg-secondary);
    height: 20px;
    width: 100%;
    margin-top: 5px;
    border-radius: var(--border-rad);
    display: flex;
    align-items: center;
    flex-grow: 0;
    width: 100%;
    padding: 5px;
}

.entry_list > .list_item:first-of-type {
    margin-top: 0px;
}

.entry_list > .list_item:last-of-type {
    margin-bottom: 0px;
}

.entry_list > .list_item > :not(:first-child) {
    margin-left: 5px;
}

.entry_list > .list_item > .label {
    background-color: var(--bg-primary);
    height: 100%;
    border-radius: var(--border-rad);
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    color: var(--fg-primary);
    flex-shrink: 0;
    width: auto;
}

.entry_list > .list_item > input {
    flex-shrink: 2;
}

.entry_list > .list_item > .label.item_title, .panel_header > .title {
    flex-grow: 1;
    cursor: pointer;
}

.entry_list > .list_item > * {
    min-width: 0;
}

.control.input_holder {
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: var(--border-rad);
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rounded {
    border-radius: var(--border-rad);
}

.padding {
    flex: 1;
}

.control > input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border-radius: var(--border-rad);
    opacity: 0;
}

input {
    background-color: var(--bg-secondary);
    color: var(--fg-primary);
    border: none;
    font-family: inherit;
    font-size: inherit;
    padding-left: 5px;
    outline: none;
    border-radius: var(--border-rad);
    height: 18px;
}

input.secondary {
    background-color: var(--bg-primary);
}

select {
    background-color: var(--bg-secondary);
}

button {
    outline: none;
}

#fade {
    background-color: white;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: none;
    opacity: 5%;
}

#fade.active {
    display: block;
}

:root {
    --bg-colour: #171d27;
    background-color: var(--bg-colour);
    font-family: 'Open Sans';
    --bg-primary: #393e46;
    --bg-secondary: #222831;
    --fg-primary: #eeeeee;
    --fg-secondary: rgb(50, 224, 196);
    --fg-secondary-transparent: rgba(50, 224, 196, 0.2);
    --border-rad: 3px;
}

[contenteditable] {
    outline: 0px transparent;
}
